<!-- public/views/movies-list.movies.html -->

<div class="jumbotron text-center" ng-controller="MoviesController">
    <h1>{{currentList}}</h1>

    <go-to-login></go-to-login>

    <div class="row">
        <div class="col-lg-6">
            <form ng-submit="submit()">
                <div ng-show="user.loggedIn">
                    Enter Movie:
                    <input type="text" ng-model="movieTitle" name="text" />
                    <input type="submit" id="submit" value="Submit" />
                </div>
                <pre ng-if="deleteThisMovie=true" ng-repeat="movie in movieList"><a href="{{movie.rtObj.links.alternate}}" id="{{movie.id}}" target="_blank">{{movie.rtObj.title}} </a>({{movie.rtObj.year}})  <img ng-src="{{ movie.rtObj.posters.thumbnail }}"/>  <button ng-click="deleteMovie(movie._id)" class="btn btn-xs btn-danger remove btn-circle"> x </button>
                </pre>
            </form>
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

</div>